.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.search_wraper {
  border-radius: 5%;
  border-color: gray;

  display: flex;
  flex-direction: column;
}

.search {
  margin: 10px;
  color: black;
  font-weight: 800;
}

h4 {
  margin-left: 10px;
}